@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* ---------- LOGIN FONT COLORS ---------- */
:root {
    --main-color: #4474e3;
    --main-secondary: #929292e9;
    --background-input: #dcdbdb78;
    --focus-input: #9a94949b;
    --text-input: #555;

    --facebook: #0033ff;
    --instagram: #d71c51;
    --web: #0bc6ff;
}
/* ---------- COLORES FUENTES DEL LOGIN ---------- */


/* ---------- LOGIN FUNCTION ---------- */
@keyframes rotateY {
    from {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
}

@keyframes rotateZyellow {
    from {
        transform: rotateZ(360deg) scale(1.02);
        -webkit-transform: rotateZ(360deg) scale(1.02);
        -moz-transform: rotateZ(360deg) scale(1.02);
        -ms-transform: rotateZ(360deg) scale(1.02);
        -o-transform: rotateZ(360deg) scale(1.02);
    } to {
        transform: rotateZ(0deg) scale(1.02);
        -webkit-transform: rotateZ(0deg) scale(1.02);
        -moz-transform: rotateZ(0deg) scale(1.02);
        -ms-transform: rotateZ(0deg) scale(1.02);
        -o-transform: rotateZ(0deg) scale(1.02);
    }
}

@keyframes rotateZblue {
    from {
        transform: rotateZ(0deg) scale(1.04);
        -webkit-transform: rotateZ(0deg) scale(1.04);
        -moz-transform: rotateZ(0deg) scale(1.04);
        -ms-transform: rotateZ(0deg) scale(1.04);
        -o-transform: rotateZ(0deg) scale(1.04);
    } to {
        transform: rotateZ(360deg) scale(1.04);
        -webkit-transform: rotateZ(360deg) scale(1.04);
        -moz-transform: rotateZ(360deg) scale(1.04);
        -ms-transform: rotateZ(360deg) scale(1.04);
        -o-transform: rotateZ(360deg) scale(1.04);
    }
}
/* ---------- FUNCIÓN PARA ROTACIÓN DE LOGO ---------- */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}


/* FORM SECTION  */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.login-container__logo {
    height: 130px;
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    animation: 5s rotateY linear infinite;
    -webkit-animation: 5s rotateY linear infinite;
}

form {
    width: 80%;
    min-width: 300px;
    max-width: 350px;
    padding: .8rem 0;
}

form h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: var(--main-color);
}

.login-input {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 10px;
    background-color: var(--background-input);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    overflow: hidden;
}

.login-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--focus-input);
    z-index: -1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.login-span.focus {
    width: 100%;
}

.login-input.focus .login-icon i {
    color: var(--text-input);
}

.login-input.focus div h5{
    display: none;
}

.login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon i {
    color: var(--main-secondary);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.login-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-social a i {
    margin: 5px 20px;
    text-decoration: none;
    color: var(--main-secondary);
    font-size: 2rem;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.login-social a i:hover {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.login-social a:nth-child(1) i:hover {
    color: var(--facebook);
}

.login-social a:nth-child(2) i:hover {
    color: var(--instagram);
}

.login-social a:nth-child(3) i:hover {
    color: var(--web);
}

.login-input > div {
    position: relative;
    height: 45px;
}

.login-input > div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--main-secondary);
    font-size: 1.2rem;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-input);
}

.link_recuperar {
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.1rem;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transform-origin: right;
}

.link_recuperar:hover {
    color: var(--facebook);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    display: block;
    width: 75%;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 2rem 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--main-color), var(--facebook));
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background-size: 200%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn:hover {
    box-shadow: 2px 2px 5px var(--main-secondary);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


/* IMAGE SECTION */
.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container img {
    width: 70%;
    min-width: 400px;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    z-index: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

span.circle {
    content: '';
    position: absolute;
    width: 1300px;
    height: 1300px;
    left: 25%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--focus-input);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

span.animationYellow {
    content: '';
    position: absolute;
    width: 1300px;
    height: 1300px;
    left: 25%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: transparent;
    border-top: .3rem solid yellow;
    border-left: .3rem solid transparent;
    border-bottom: .3rem solid yellow;
    border-right: .3rem solid transparent;
    animation: 4s rotateZyellow linear infinite;
    -webkit-animation: 4s rotateZyellow linear infinite;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

span.animationBlue {
    content: '';
    position: absolute;
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    left: 25%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: transparent;
    border-top: .3rem solid var(--main-color);
    border-left: .3rem solid transparent;
    border-bottom: .3rem solid var(--main-color);
    border-right: .3rem solid transparent;
    animation: 4s rotateZblue linear infinite;
    -webkit-animation: 4s rotateZblue linear infinite;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


/* modify and verify correct operation of the desired css style */
/* (modificar y verificar correcto funcionamiento del estilo css deseado) */

/* style login modal */
/* .text-secundary {
    text-align: left;
    padding-left: 8%;
    padding-top: 2%;
    color: gray;
    font-size: 15px;
} */

/* #swal2-html-container {
    display: grid !important;
} */

/* .swal2-popup.swal2-modal.swal2-show {
    width: auto !important;
} */

/* .titulo_cambio_clave {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #2c6cff;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    color: white !important;
} */




/* MEDIA QUERYS  */

@media screen and (max-width: 1050px) {
    .img-container img {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media screen and (max-width: 930px) {
    .login-container {
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
    }

    .img-container img {
        width: 50%;
        min-width: 200px;
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
    }

    span.circle {
        width: 1000px;
        height: 1000px;
    }

    span.animationYellow {
        width: 1000px;
        height: 1000px;
    }

    span.animationBlue {
        width: 1000px;
        height: 1000px;
    }
}

@media screen and (max-width: 790px) {
    .container {
        grid-template-columns: 1fr;
    }

    .login-container {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .img-container img {
        width: 30%;
        min-width: 100px;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    span.circle {
        width: 1000px;
        height: 1000px;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    span.animationYellow {
        display: none;
    }

    span.animationBlue {
        display: none;
    }
}








