@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ---------- main font colors ---------- */
:root {
    --main-color: #eaebef;
    --nav-color: white;
    --nav-subcolor: #f6f8fa;
    --text-nav: #303440;
}
/* ---------- main font colors ---------- */



/* ---------- main function ---------- */
@keyframes rotateY {
    from {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
}

/* ---------- main function ---------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--main-color);
}

.nav {
    width: 350px;
    height: 100vh;
    position: fixed;
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
    overflow: hidden;
}

.nav__link {
    color: var(--text-nav);
    display: block;
    padding: .9rem 0;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav__link--inside {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding-left: 2rem;
    text-align: left;
}

.nav__link--inside:hover {
    background-color: var(--nav-subcolor);
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--nav-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px 40px 5px;
}

.header .header__img {
    width: 80px;
    padding-bottom: .4rem;
    animation: 5s rotateY linear infinite;
    -webkit-animation: 5s rotateY linear infinite;
}

.header__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 2px 0;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}

.list__icon {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modifyArrow .list__arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    padding: 0;
    border-left: 2px solid var(--text-nav);
    list-style: none;
    transition: height .4s;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -ms-transition: height .4s;
    -o-transition: height .4s;
    height: 0;
}









/* working section  */
/* .section {
    display: flex;
    position: relative;
    margin-left: 320px;
} */

/* video para el primer borrador del nav */
/* https://www.youtube.com/watch?v=jVITFZJEm_k&t=73s (listo !!) */

/* siguientes videos para modificación e implementación */
/* https://www.youtube.com/watch?v=ES8vJcUqE7s&t=81s */
/* https://www.youtube.com/watch?v=ArTVfdHOB-M */
/* https://www.youtube.com/watch?v=IqAPhLLd_bM */
/* https://www.youtube.com/watch?v=bFvfqUMjvsA&t=52s */
/* https://www.youtube.com/watch?v=a3rofqqrTBE */

/* página en donde se muestra de manera detallada la creacipon de un nav */
/* https://webdesign.tutsplus.com/es/tutorials/building-an-admin-dashboard-layout-with-css-and-a-touch-of-javascript--cms-33964 */
